.slogan, .contenido .slogan__index, .mainQuienes .slogan__quienes, .mainContacto .slogan__contacto, .mainExterior .slogan__exterior {
  font-weight: bolder;
  color: black;
  font-style: italic;
  z-index: 9999; }

* {
  margin: 0px; }

header {
  align-items: flex-start;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  height: 10vh;
  z-index: 99999;
  background-color: #EEEEEE;
  position: fixed;
  display: inline-flex; }
  header .header__isotipo {
    width: 20vh; }
  header .navbar-collapse {
    transform: translate(50%, 1px); }
  header .header__nav {
    transform: translate(-5%, 1px); }
  header a {
    text-decoration: none;
    color: #424241;
    border-radius: 5px;
    background-color: #EEEEEE;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    animation-duration: 500ms;
    font-weight: bold;
    transform: translate(0%, 3px); }
  header a:hover {
    background-color: white;
    color: #0153CA; }
  header .navbar-toggler {
    position: absolute;
    right: 20px; }
  header .navbar__center {
    text-align: center; }
  header #navbarNavAltMarkup {
    transform: translate(0%, 30%);
    size: 250%;
    background-color: #EEEEEE; }

.contenido {
  background: #444444;
  /*
    .contenido__servicios {
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
       
        
        background-size: cover;
        width: 30%;
        transform: translate(117%, 0%);

       .contenido__servicios__titulo {
            color: #F6C26B;
            font-weight: bolder;
            font-size: 150%;
            text-align: center;
            text-transform: uppercase;
          
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-style: normal;
            padding: 2%;
        }

        li{
            margin: 10%;
            padding: 2%;
            color: #444444;
            background-color: #F6C26B;
            width: 100%;
            text-align: center;
          
            height: fit-content;
            margin-left: 2%;
            margin-right: 2%;
            padding-right: 1%;
            padding-left: 1%;
            border-radius: 5%;
            font-weight: bold;
            
        }

        .alert-dark{
            display: flex;
            align-items: center;
            justify-content: center;
        }


        .contenido__servicios__lista {
            color: #D8D8D8;
            text-align: center;
            list-style: none;
            padding: 0%;
            line-height: 2;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            font-style: normal;
        }
    }
*/
  /*   .contenido__proyectos {
        padding: 50px;
        background-color: #F9F6F2;
        background-size: cover;

        

        .contenido__proyectos__titulo {
            color: #D8D8D8;
            font-weight: bold;
            font-size: 150%;
            text-align: center;
            text-transform: uppercase;
            
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-style: normal;
            padding: 50px;
        }

        
        .slider {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
           
        }
        .slider__imagenes {
            transform: translate(25%, 0%);

            .carousel-control-next-icon{
                color: #444444;
            }
        }
    
    }
    */ }
  .contenido p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-bottom: 0; }
  .contenido .slogan__index {
    background-color: rgba(128, 128, 128, 0.7);
    background-size: cover;
    font-size: 250%;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 1%;
    padding-left: 1%;
    color: white; }
  .contenido .Titulo {
    color: #D8D8D8;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 50px; }
  .contenido .contenido__portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../imagenes/portada5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    height: 1000px;
    /*background-size: cover;*/ }
    .contenido .contenido__portada .sloganPrincipal {
      padding-top: 100px;
      text-align: center;
      color: #D8D8D8;
      font-style: italic; }
  .contenido .contenido__quienes {
    background: #424242;
    padding: 50px; }
    .contenido .contenido__quienes .contenido__quienes__titulo {
      color: #EEEEEE;
      font-weight: bold;
      font-size: 150%;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-style: normal; }
    .contenido .contenido__quienes .contenido__quienes__texto {
      color: #EEEEEE;
      text-align: center;
      padding: 20px; }
  .contenido .contenido__contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    background: #EEEEEE;
    padding: 30px; }
    .contenido .contenido__contacto .contenido__contacto__titulo {
      font-size: 150%;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-style: normal;
      padding: 30px; }
    .contenido .contenido__contacto .contenido__contacto__form {
      display: flex;
      flex-direction: column;
      /*  justify-content: space-around;*/
      color: black;
      padding: 10px;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 300;
      font-style: normal;
      width: 70%;
      height: auto;
      border: solid 5px #424242; }
      .contenido .contenido__contacto .contenido__contacto__form textarea {
        width: 100%; }
      .contenido .contenido__contacto .contenido__contacto__form .text_form {
        width: 100%; }

.mainQuienes {
  background: #424241; }
  .mainQuienes p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-bottom: 0; }
  .mainQuienes .Titulo {
    color: #D8D8D8;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 50px; }
  .mainQuienes .contenido__portada {
    background-image: url("../imagenes/portada1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    height: 1000px; }
  .mainQuienes .slogan__quienes {
    background-color: rgba(128, 128, 128, 0.7);
    font-size: 250%;
    color: white;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 1%;
    padding-left: 1%; }
  .mainQuienes .contenido__info {
    padding: 2%; }
    .mainQuienes .contenido__info h1.contenido__info__titulo {
      color: #EEEEEE;
      font-weight: bold;
      font-size: 150%;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-style: normal;
      padding: 10px; }
    .mainQuienes .contenido__info .info__text {
      padding: 3%;
      background-color: #D8D8D8; }
      .mainQuienes .contenido__info .info__text .contenido__info__texto {
        color: #424241;
        text-align: center; }
  .mainQuienes h2 {
    color: #EEEEEE;
    margin-bottom: 0%; }
  @media only screen and (min-width: 1200px) {
    .mainQuienes .categorias {
      display: grid;
      height: 80vh;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);
      /* grid-column-gap: 10px;
        grid-row-gap: 10px;*/
      justify-content: space-between;
      align-content: space-between;
      grid-template-areas: "producto producto espacio espacio personaje" "producto producto grafica animacion modelado"; } }
  @media only screen and (max-width: 1200px) {
    .mainQuienes .categorias {
      display: grid;
      height: 70vh;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
      /* grid-column-gap: 10px;
        grid-row-gap: 10px;*/
      justify-content: space-between;
      align-content: space-between;
      grid-template-areas: "titulo titulo" "producto espacio" "grafica personaje" "modelado animacion" "profoot profoot"; } }
  @media only screen and (max-width: 600px) {
    .mainQuienes .categorias {
      display: grid;
      height: 70vh;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(7, 1fr);
      /* grid-column-gap: 10px;
        grid-row-gap: 10px;*/
      justify-content: space-between;
      align-content: space-between;
      grid-template-areas: "titulo titulo" "producto producto" "espacio espacio" "modelado modelado" "personaje personaje" "grafica grafica" "animacion animacion"; } }
  .mainQuienes .categorias .info, .mainQuienes .categorias .mainProyectos .info__producto, .mainProyectos .mainQuienes .categorias .info__producto, .mainQuienes .categorias .mainProyectos .info__espacio, .mainProyectos .mainQuienes .categorias .info__espacio, .mainQuienes .categorias .mainProyectos .info__animacion, .mainProyectos .mainQuienes .categorias .info__animacion, .mainQuienes .categorias .mainProyectos .info__personaje, .mainProyectos .mainQuienes .categorias .info__personaje, .mainQuienes .categorias .mainProyectos .info__presentacion, .mainProyectos .mainQuienes .categorias .info__presentacion, .mainQuienes .categorias .mainProyectos .info__modelado, .mainProyectos .mainQuienes .categorias .info__modelado {
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    font-size: 100%;
    width: unset;
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 1%;
    padding-left: 1%;
    color: white;
    border-radius: 5%; }
  .mainQuienes .titProyecto {
    grid-area: titulo; }
  .mainQuienes .footer__proyectos {
    max-height: 100%;
    max-width: 100%;
    grid-area: profoot; }
  .mainQuienes .aromaticas {
    max-height: 100%;
    max-width: 100%;
    grid-area: producto; }
  .mainQuienes .diEspacio {
    max-height: 100%;
    max-width: 100%;
    grid-area: espacio; }
  .mainQuienes .modelados {
    max-height: 100%;
    max-width: 100%;
    grid-area: modelado; }
  .mainQuienes .graficas {
    max-height: 100%;
    max-width: 100%;
    grid-area: grafica; }
  .mainQuienes .personajes {
    max-height: 100%;
    max-width: 100%;
    grid-area: personaje; }
  .mainQuienes .animaciones {
    grid-area: animacion;
    max-height: 100%;
    max-width: 100%; }
  .mainQuienes .imgGrilla {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; }
  .mainQuienes .aromaticas {
    position: relative;
    text-align: center;
    color: grey; }
  .mainQuienes .aromaticas p {
    position: absolute;
    bottom: 8px;
    left: 16px; }
  .mainQuienes .diEspacio {
    position: relative;
    text-align: center;
    color: grey; }
  .mainQuienes .diEspacio p {
    position: absolute;
    bottom: 8px;
    left: 16px; }
  .mainQuienes .modelados {
    position: relative;
    text-align: center;
    color: grey; }
  .mainQuienes .modelados p {
    position: absolute;
    bottom: 8px;
    left: 16px; }
  .mainQuienes .graficas {
    position: relative;
    text-align: center;
    color: grey; }
  .mainQuienes .graficas p {
    position: absolute;
    bottom: 8px;
    left: 16px; }
  .mainQuienes .personajes {
    position: relative;
    text-align: center;
    color: grey; }
  .mainQuienes .personajes p {
    position: absolute;
    bottom: 8px;
    left: 16px; }
  .mainQuienes .animaciones {
    position: relative;
    text-align: center;
    color: grey; }
  .mainQuienes .animaciones p {
    position: absolute;
    bottom: 8px;
    left: 16px; }
  .mainQuienes .categorias article {
    filter: saturate(5%);
    font-size: 30px; }
  .mainQuienes .categorias article:hover {
    filter: saturate(100%); }

.mainContacto {
  background: #424241; }
  .mainContacto p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-bottom: 0; }
  .mainContacto .Titulo {
    color: #D8D8D8;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 50px; }
  .mainContacto .portadaSoluciones {
    background-image: url("../imagenes/portadaSoluciones.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    height: 1000px; }
  .mainContacto .slogan__contacto {
    /* transform: translate(-0%, 450%);*/
    font-size: 250%;
    background-color: rgba(128, 128, 128, 0.7);
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    width: fit-content;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 1%;
    padding-left: 1%;
    height: auto; }
  .mainContacto h1 {
    color: #EEEEEE;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
    margin: 3%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 10px; }
  .mainContacto .formSoluciones {
    padding-top: 4%; }
    .mainContacto .formSoluciones label {
      color: #EEEEEE;
      font-family: 'Montserrat', sans-serif; }
  .mainContacto #gridContacto #formContact {
    height: 100%;
    width: 80%; }
  .mainContacto #gridContacto #map {
    height: 80%;
    width: 80%; }
  .mainContacto #gridContacto .text_form {
    width: 100%; }
  .mainContacto .contacto h1 {
    padding: 10px; }
  .mainContacto #gridContacto {
    display: grid;
    width: 100%;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-template-areas: "titulo titulo" "form map";
    background-color: white;
    padding: 2%; }
  .mainContacto #contactoTitulo {
    grid-area: titulo;
    color: black;
    text-align: center; }
  .mainContacto #map {
    grid-area: map;
    padding: 10px;
    width: 40%;
    margin: 5%; }
  .mainContacto #formContact {
    grid-area: form;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 2%;
    border: solid 5px #D8D8D8;
    padding: 1%;
    width: 40%; }
    .mainContacto #formContact textarea {
      width: 95%; }
  .mainContacto .robot {
    color: red;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-style: normal; }

.mainExterior {
  background: #424241; }
  .mainExterior p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-bottom: 0; }
  .mainExterior .Titulo {
    color: #D8D8D8;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 50px; }
  .mainExterior .portada {
    background-image: url("../imagenes/portada3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    height: 1000px; }
  .mainExterior .slogan__exterior {
    /* transform: translate(0%, 700%);*/
    background-color: rgba(128, 128, 128, 0.7);
    background-size: cover;
    font-size: 250%;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    width: fit-content;
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 1%;
    padding-left: 1%;
    color: white; }
  .mainExterior h2 {
    color: #EEEEEE;
    margin-bottom: 0%; }
  .mainExterior .contenido__info {
    padding: 2%; }
    .mainExterior .contenido__info h1.contenido__info__titulo {
      color: #EEEEEE;
      font-weight: bold;
      font-size: 150%;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-style: normal;
      padding: 10px; }
    .mainExterior .contenido__info .info__text {
      padding: 3%;
      background-color: #D8D8D8; }
      .mainExterior .contenido__info .info__text .contenido__info__texto {
        color: #424241;
        text-align: center; }
  @media only screen and (min-width: 1200px) {
    .mainExterior .categorias {
      display: grid;
      height: 90vh;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);
      /* grid-column-gap: 10px;
       grid-row-gap: 10px;*/
      justify-content: space-between;
      align-content: space-between;
      grid-template-areas: "producto producto espacio espacio personaje" "producto producto grafica animacion modelado"; } }
  @media only screen and (max-width: 1200px) {
    .mainExterior .categorias {
      display: grid;
      height: 90vh;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      /* grid-column-gap: 10px;
       grid-row-gap: 10px;*/
      justify-content: space-between;
      align-content: space-between;
      grid-template-areas: "producto espacio" "grafica personaje" "modelado animacion"; } }
  @media only screen and (max-width: 600px) {
    .mainExterior .categorias {
      display: grid;
      height: 90vh;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
      /* grid-column-gap: 10px;
       grid-row-gap: 10px;*/
      justify-content: space-between;
      align-content: space-between;
      grid-template-areas: "producto producto" "espacio espacio" "modelado modelado" "personaje personaje" "grafica grafica" "animacion animacion"; } }
  .mainExterior .categorias .info, .mainExterior .categorias .mainProyectos .info__producto, .mainProyectos .mainExterior .categorias .info__producto, .mainExterior .categorias .mainProyectos .info__espacio, .mainProyectos .mainExterior .categorias .info__espacio, .mainExterior .categorias .mainProyectos .info__animacion, .mainProyectos .mainExterior .categorias .info__animacion, .mainExterior .categorias .mainProyectos .info__personaje, .mainProyectos .mainExterior .categorias .info__personaje, .mainExterior .categorias .mainProyectos .info__presentacion, .mainProyectos .mainExterior .categorias .info__presentacion, .mainExterior .categorias .mainProyectos .info__modelado, .mainProyectos .mainExterior .categorias .info__modelado {
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    font-size: 100%;
    width: unset;
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 1%;
    padding-left: 1%;
    color: white;
    border-radius: 5%; }
  .mainExterior .titProyecto {
    grid-area: titulo; }
  .mainExterior .footer__proyectos {
    max-height: 100%;
    max-width: 100%;
    grid-area: profoot; }
  .mainExterior #aromaticasClick {
    background-color: #424241;
    position: absolute;
    top: 25%;
    left: 8%;
    right: 8%;
    align-items: center; }
    .mainExterior #aromaticasClick strong {
      color: #D8D8D8; }
    .mainExterior #aromaticasClick span {
      color: #D8D8D8; }
  .mainExterior .aromaticas {
    max-height: 100%;
    max-width: 100%;
    grid-area: producto; }
  .mainExterior .diEspacio {
    max-height: 100%;
    max-width: 100%;
    grid-area: espacio; }
  .mainExterior .modelados {
    max-height: 100%;
    max-width: 100%;
    grid-area: modelado; }
  .mainExterior .graficas {
    max-height: 100%;
    max-width: 100%;
    grid-area: grafica; }
  .mainExterior .personajes {
    max-height: 100%;
    max-width: 100%;
    grid-area: personaje; }
  .mainExterior .animaciones {
    grid-area: animacion;
    max-height: 100%;
    max-width: 100%; }
  .mainExterior .imgGrilla {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; }
  .mainExterior .aromaticas {
    position: relative;
    text-align: center;
    color: grey; }
  .mainExterior .aromaticas p {
    position: absolute;
    bottom: 8px;
    left: 16px; }
  .mainExterior .diEspacio {
    position: relative;
    text-align: center;
    color: grey; }
  .mainExterior .diEspacio p {
    position: absolute;
    bottom: 8px;
    left: 16px; }
  .mainExterior .modelados {
    position: relative;
    text-align: center;
    color: grey; }
  .mainExterior .modelados p {
    position: absolute;
    bottom: 8px;
    left: 16px; }
  .mainExterior .graficas {
    position: relative;
    text-align: center;
    color: grey; }
  .mainExterior .graficas p {
    position: absolute;
    bottom: 8px;
    left: 16px; }
  .mainExterior .personajes {
    position: relative;
    text-align: center;
    color: grey; }
  .mainExterior .personajes p {
    position: absolute;
    bottom: 8px;
    left: 16px; }
  .mainExterior .animaciones {
    position: relative;
    text-align: center;
    color: grey; }
  .mainExterior .animaciones p {
    position: absolute;
    bottom: 8px;
    left: 16px; }
  .mainExterior .categorias article {
    filter: saturate(5%);
    font-size: 30px; }
  .mainExterior .categorias article:hover {
    filter: saturate(100%); }

.mainProyectos {
  background: #424241; }
  .mainProyectos .contenido__plagas {
    padding-top: 50%; }
  .mainProyectos .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 8%; }
  .mainProyectos .card {
    margin-bottom: 5%;
    width: auto;
    color: grey;
    padding: 0%; }
    .mainProyectos .card .card__contenido {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 0%; }
      .mainProyectos .card .card__contenido .card-img-top {
        width: 100%;
        padding: 0%; }
      .mainProyectos .card .card__contenido .card-text {
        width: 90%;
        text-align: center; }
      .mainProyectos .card .card__contenido .card-body {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0%; }
    .mainProyectos .card .info, .mainProyectos .card .info__producto, .mainProyectos .card .info__espacio, .mainProyectos .card .info__animacion, .mainProyectos .card .info__personaje, .mainProyectos .card .info__presentacion, .mainProyectos .card .info__modelado {
      position: relative;
      text-align: center;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: bold;
      font-size: 30px;
      color: black; }
  .mainProyectos p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-bottom: 0; }
  .mainProyectos .Titulo {
    color: #D8D8D8;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 50px; }
  @media only screen and (min-width: 1200px) {
    .mainProyectos .categorias {
      display: grid;
      height: 100vh;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(3, 1fr);
      justify-content: space-between;
      align-content: space-between;
      grid-template-areas: "titulo titulo titulo titulo titulo" "producto producto espacio espacio personaje" "producto producto grafica animacion modelado"; } }
  .mainProyectos .categorias .info, .mainProyectos .categorias .info__producto, .mainProyectos .categorias .info__espacio, .mainProyectos .categorias .info__animacion, .mainProyectos .categorias .info__personaje, .mainProyectos .categorias .info__presentacion, .mainProyectos .categorias .info__modelado {
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    font-size: 100%;
    width: unset;
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 1%;
    padding-left: 1%;
    color: white;
    border-radius: 5%; }
  .mainProyectos .titProyecto {
    grid-area: titulo; }
  .mainProyectos .aromaticas {
    max-height: 100%;
    max-width: 100%;
    grid-area: producto; }
  .mainProyectos .diEspacio {
    max-height: 100%;
    max-width: 100%;
    grid-area: espacio; }
  .mainProyectos .modelados {
    max-height: 100%;
    max-width: 100%;
    grid-area: modelado; }
  .mainProyectos .graficas {
    max-height: 100%;
    max-width: 100%;
    grid-area: grafica; }
  .mainProyectos .personajes {
    max-height: 100%;
    max-width: 100%;
    grid-area: personaje; }
  .mainProyectos .animaciones {
    grid-area: animacion;
    max-height: 100%;
    max-width: 100%; }
  .mainProyectos .imgGrilla {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; }
  .mainProyectos .aromaticas {
    position: relative;
    text-align: center;
    color: grey; }
  .mainProyectos .aromaticas p {
    position: absolute;
    bottom: 8px;
    left: 16px; }
  .mainProyectos .diEspacio {
    position: relative;
    text-align: center;
    color: grey; }
  .mainProyectos .diEspacio p {
    position: absolute;
    bottom: 8px;
    left: 16px; }
  .mainProyectos .modelados {
    position: relative;
    text-align: center;
    color: grey; }
  .mainProyectos .modelados p {
    position: absolute;
    bottom: 8px;
    left: 16px; }
  .mainProyectos .graficas {
    position: relative;
    text-align: center;
    color: grey; }
  .mainProyectos .graficas p {
    position: absolute;
    bottom: 8px;
    left: 16px; }
  .mainProyectos .personajes {
    position: relative;
    text-align: center;
    color: grey; }
  .mainProyectos .personajes p {
    position: absolute;
    bottom: 8px;
    left: 16px; }
  .mainProyectos .animaciones {
    position: relative;
    text-align: center;
    color: grey; }
  .mainProyectos .animaciones p {
    position: absolute;
    bottom: 8px;
    left: 16px; }

footer {
  display: flex;
  flex-direction: column;
  color: black;
  background: #546E7A;
  background-size: cover;
  padding: 10px;
  z-index: 9999; }
  footer .footer__info {
    margin-left: 3%;
    margin-top: 1%; }
  footer .derechosAutor {
    text-align: center;
    color: white;
    font-weight: bolder; }
    footer .derechosAutor p {
      color: #D8D8D8; }
  footer p {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif; }
