.slogan, .contenido .slogan__index, .mainInterior .slogan__quienes, .mainSoluciones .slogan__soluciones, .mainExterior .slogan__exterior {
  font-weight: bolder;
  color: black;
  font-style: italic;
  z-index: 9999; }

* {
  margin: 0px; }

header {
  align-items: flex-start;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  z-index: 99999;
  background-color: #EEEEEE;
  display: inline-flex; }
  header .header__isotipo {
    width: 20vh; }
  header .navbar-collapse {
    transform: translate(50%, 1px); }
  header .header__nav {
    transform: translate(-5%, 1px); }
  header a {
    text-decoration: none;
    color: #424241;
    border-radius: 5px;
    background-color: #EEEEEE;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    animation-duration: 500ms;
    font-weight: bold;
    transform: translate(0%, 3px); }
  header a:hover {
    background-color: white; }
  header .navbar-toggler {
    position: absolute;
    right: 20px; }
  header .navbar__center {
    text-align: center; }
  header #navbarNavAltMarkup {
    transform: translate(0%, 23%);
    size: 250%;
    background-color: #EEEEEE; }

.contenido {
  background: #444444; }
  .contenido p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-bottom: 0; }
  .contenido .slogan__index {
    background-color: rgba(128, 128, 128, 0.7);
    background-size: cover;
    font-size: 250%;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 1%;
    padding-left: 1%;
    color: white; }
  .contenido .Titulo {
    color: #D8D8D8;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 50px; }
  .contenido .contenido__portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../imagenes/portada5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    height: 1000px; }
    .contenido .contenido__portada .sloganPrincipal {
      padding-top: 100px;
      text-align: center;
      color: #D8D8D8;
      font-style: italic; }
  .contenido .contenido__quienes {
    background: #424242;
    padding: 50px; }
    .contenido .contenido__quienes .contenido__quienes__titulo {
      color: #EEEEEE;
      font-weight: bold;
      font-size: 150%;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-style: normal; }
    .contenido .contenido__quienes .contenido__quienes__texto {
      color: #EEEEEE;
      text-align: center;
      padding: 20px; }
  .contenido .contenido__contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    background: #EEEEEE;
    padding: 30px; }
    .contenido .contenido__contacto .contenido__contacto__titulo {
      font-size: 150%;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-style: normal;
      padding: 30px; }
    .contenido .contenido__contacto .contenido__contacto__form {
      display: flex;
      flex-direction: column;
      color: black;
      padding: 10px;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 300;
      font-style: normal;
      width: 70%;
      height: auto;
      border: solid 5px #424242; }
      .contenido .contenido__contacto .contenido__contacto__form textarea {
        width: 100%; }
      .contenido .contenido__contacto .contenido__contacto__form .text_form {
        width: 100%; }

.mainInterior {
  background: #424241; }
  .mainInterior p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-bottom: 0; }
  .mainInterior .Titulo {
    color: #D8D8D8;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 50px; }
  .mainInterior .contenido__portada {
    background-image: url("../imagenes/portada1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    height: 1000px; }
  .mainInterior .slogan__quienes {
    background-color: rgba(128, 128, 128, 0.7);
    font-size: 250%;
    color: white;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 1%;
    padding-left: 1%; }
  .mainInterior .contenido__info {
    padding: 2%; }
    .mainInterior .contenido__info h1.contenido__info__titulo {
      color: #EEEEEE;
      font-weight: bold;
      font-size: 150%;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-style: normal;
      padding: 10px; }
    .mainInterior .contenido__info .info__text {
      padding: 3%;
      background-color: #D8D8D8; }
      .mainInterior .contenido__info .info__text .contenido__info__texto {
        color: #424241;
        text-align: center; }
  .mainInterior h2 {
    color: #EEEEEE;
    margin-bottom: 0%; }
  @media only screen and (min-width: 1200px) {
    .mainInterior .categorias {
      display: grid;
      height: 80vh;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 40vh);
      justify-content: space-between;
      align-content: space-between;
      grid-template-areas: "amarilis amarilis montsera montsera croton" "amarilis amarilis sanseveria cala potus"; } }
  @media only screen and (max-width: 1200px) {
    .mainInterior .categorias {
      display: grid;
      height: 180vh;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 60vh);
      justify-content: space-between;
      align-content: space-between;
      grid-template-areas: "amarilis montsera" "sanseveria croton" "potus cala"; } }
  @media only screen and (max-width: 600px) {
    .mainInterior .categorias {
      display: grid;
      height: 360vh;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 60vh);
      justify-content: space-between;
      align-content: space-between;
      grid-template-areas: "amarilis" "montsera" "potus" "croton" "sanseveria" "cala"; } }
  .mainInterior .categorias .info {
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    font-size: 100%;
    width: unset;
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 1%;
    padding-left: 1%;
    color: white;
    border-radius: 5%; }
  .mainInterior #infoClickAma {
    background-color: rgba(66, 66, 65, 0.7);
    position: absolute;
    top: 25%;
    left: 8%;
    right: 8%;
    font-size: 80%;
    line-height: 1.2;
    display: none; }
    .mainInterior #infoClickAma strong {
      color: #D8D8D8; }
    .mainInterior #infoClickAma span {
      color: #D8D8D8; }
  .mainInterior #infoClickMont {
    background-color: rgba(66, 66, 65, 0.7);
    position: absolute;
    top: 10%;
    left: 8%;
    right: 8%;
    font-size: 80%;
    line-height: 1.2;
    display: none; }
    .mainInterior #infoClickMont strong {
      color: #D8D8D8; }
    .mainInterior #infoClickMont span {
      color: #D8D8D8; }
  .mainInterior #infoClickPot {
    background-color: rgba(66, 66, 65, 0.7);
    position: absolute;
    top: 2%;
    left: 8%;
    right: 8%;
    font-size: 80%;
    display: none;
    line-height: 1.1; }
    .mainInterior #infoClickPot strong {
      color: #D8D8D8; }
    .mainInterior #infoClickPot span {
      color: #D8D8D8; }
  .mainInterior #infoClickSans {
    background-color: rgba(66, 66, 65, 0.7);
    position: absolute;
    top: 10%;
    left: 8%;
    right: 8%;
    font-size: 80%;
    line-height: 1.2;
    display: none; }
    .mainInterior #infoClickSans strong {
      color: #D8D8D8; }
    .mainInterior #infoClickSans span {
      color: #D8D8D8; }
  .mainInterior #infoClickCrot {
    background-color: rgba(66, 66, 65, 0.7);
    position: absolute;
    top: 15%;
    left: 8%;
    right: 8%;
    font-size: 80%;
    line-height: 1.2;
    display: none; }
    .mainInterior #infoClickCrot strong {
      color: #D8D8D8; }
    .mainInterior #infoClickCrot span {
      color: #D8D8D8; }
  .mainInterior #infoClickCala {
    background-color: rgba(66, 66, 65, 0.7);
    position: absolute;
    top: 5%;
    left: 8%;
    right: 8%;
    font-size: 80%;
    line-height: 1.2;
    display: none; }
    .mainInterior #infoClickCala strong {
      color: #D8D8D8; }
    .mainInterior #infoClickCala span {
      color: #D8D8D8; }
  .mainInterior .amarilis {
    max-height: 100%;
    max-width: 100%;
    grid-area: amarilis; }
  .mainInterior .montsera {
    max-height: 100%;
    max-width: 100%;
    grid-area: montsera; }
  .mainInterior .potus {
    max-height: 100%;
    max-width: 100%;
    grid-area: potus; }
  .mainInterior .sanseveria {
    max-height: 100%;
    max-width: 100%;
    grid-area: sanseveria; }
  .mainInterior .croton {
    max-height: 100%;
    max-width: 100%;
    grid-area: croton; }
  .mainInterior .cala {
    grid-area: cala;
    max-height: 100%;
    max-width: 100%; }
  .mainInterior .imgGrilla {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; }
  .mainInterior .amarilis {
    position: relative;
    text-align: center;
    color: grey; }
  .mainInterior .amarilis p {
    position: absolute;
    bottom: 8px;
    left: 16px; }
  .mainInterior .montsera {
    position: relative;
    text-align: center;
    color: grey; }
  .mainInterior .montsera p {
    position: absolute;
    bottom: 8px;
    left: 16px; }
  .mainInterior .potus {
    position: relative;
    text-align: center;
    color: grey; }
  .mainInterior .potus p {
    position: absolute;
    bottom: 8px;
    left: 16px; }
  .mainInterior .sanseveria {
    position: relative;
    text-align: center;
    color: grey; }
  .mainInterior .sanseveria p {
    position: absolute;
    bottom: 8px;
    left: 16px; }
  .mainInterior .croton {
    position: relative;
    text-align: center;
    color: grey; }
  .mainInterior .croton p {
    position: absolute;
    bottom: 8px;
    left: 16px; }
  .mainInterior .cala {
    position: relative;
    text-align: center;
    color: grey; }
  .mainInterior .cala p {
    position: absolute;
    bottom: 8px;
    left: 16px; }
  .mainInterior .categorias article {
    filter: saturate(5%);
    font-size: 30px; }
  .mainInterior .categorias article:hover {
    filter: saturate(100%); }

.mainSoluciones {
  background: #424241; }
  .mainSoluciones p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-bottom: 0; }
  .mainSoluciones .Titulo {
    color: #D8D8D8;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 50px; }
  .mainSoluciones .portadaSoluciones {
    background-image: url("../imagenes/portadaSoluciones.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    height: 1000px; }
  .mainSoluciones .slogan__soluciones {
    font-size: 250%;
    background-color: rgba(128, 128, 128, 0.7);
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    width: fit-content;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 1%;
    padding-left: 1%;
    height: auto; }
  .mainSoluciones h1 {
    color: #EEEEEE;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
    margin: 3%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 10px; }
  .mainSoluciones .info__text {
    padding: 3%;
    background-color: #D8D8D8; }
    .mainSoluciones .info__text .contenido__info__texto {
      color: #424241;
      text-align: center; }
  .mainSoluciones .formSoluciones {
    padding-top: 4%; }
    .mainSoluciones .formSoluciones label {
      color: #EEEEEE;
      font-family: 'Montserrat', sans-serif; }
  .mainSoluciones h1 {
    padding: 10px; }
  .mainSoluciones #alert-calculo {
    background-color: #EEEEEE;
    border: solid 25px #424242;
    color: #424241; }

.mainExterior {
  background: #424241; }
  .mainExterior p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-bottom: 0; }
  .mainExterior .Titulo {
    color: #D8D8D8;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 50px; }
  .mainExterior .portada {
    background-image: url("../imagenes/portada3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: contain;
    height: 1000px; }
  .mainExterior .slogan__exterior {
    background-color: rgba(128, 128, 128, 0.7);
    background-size: cover;
    font-size: 250%;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    width: fit-content;
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 1%;
    padding-left: 1%;
    color: white; }
  .mainExterior h2 {
    color: #EEEEEE;
    margin-bottom: 0%; }
  .mainExterior .contenido__info {
    padding: 2%; }
    .mainExterior .contenido__info h1.contenido__info__titulo {
      color: #EEEEEE;
      font-weight: bold;
      font-size: 150%;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-style: normal;
      padding: 10px; }
    .mainExterior .contenido__info .info__text {
      padding: 3%;
      background-color: #D8D8D8; }
      .mainExterior .contenido__info .info__text .contenido__info__texto {
        color: #424241;
        text-align: center; }
  @media only screen and (min-width: 1200px) {
    .mainExterior .categorias {
      display: grid;
      height: 80vh;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 40vh);
      justify-content: space-between;
      align-content: space-between;
      grid-template-areas: "aromaticas aromaticas hortalizas hortalizas arboles" "aromaticas aromaticas frutales suculentas florales"; } }
  @media only screen and (max-width: 1200px) {
    .mainExterior .categorias {
      display: grid;
      height: 180vh;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 60vh);
      justify-content: space-between;
      align-content: space-between;
      grid-template-areas: "aromaticas hortalizas" "frutales arboles" "florales suculentas"; } }
  @media only screen and (max-width: 600px) {
    .mainExterior .categorias {
      display: grid;
      height: 360vh;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 60vh);
      justify-content: space-between;
      a8lign-content: space-between;
      grid-template-areas: "aromaticas" "hortalizas" "florales" "arboles" "frutales" "suculentas"; } }
  .mainExterior .categorias .info {
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    font-size: 100%;
    width: unset;
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 1%;
    padding-left: 1%;
    color: white;
    border-radius: 5%; }
  .mainExterior #infoClickArom {
    background-color: rgba(66, 66, 65, 0.7);
    position: absolute;
    top: 15%;
    left: 8%;
    right: 8%;
    font-size: 80%;
    line-height: 1.2;
    display: none; }
    .mainExterior #infoClickArom strong {
      color: #D8D8D8; }
    .mainExterior #infoClickArom span {
      color: #D8D8D8; }
  .mainExterior #infoClickHorta {
    background-color: rgba(66, 66, 65, 0.7);
    position: absolute;
    top: 10%;
    left: 8%;
    right: 8%;
    font-size: 80%;
    line-height: 1.2;
    display: none; }
    .mainExterior #infoClickHorta strong {
      color: #D8D8D8; }
    .mainExterior #infoClickHorta span {
      color: #D8D8D8; }
  .mainExterior #infoClickFlor {
    background-color: rgba(66, 66, 65, 0.7);
    position: absolute;
    top: 25%;
    left: 8%;
    right: 8%;
    font-size: 80%;
    line-height: 1.2;
    display: none; }
    .mainExterior #infoClickFlor strong {
      color: #D8D8D8; }
    .mainExterior #infoClickFlor span {
      color: #D8D8D8; }
  .mainExterior #infoClickFrut {
    background-color: rgba(66, 66, 65, 0.7);
    position: absolute;
    top: 25%;
    left: 8%;
    right: 8%;
    font-size: 80%;
    line-height: 1.2;
    display: none; }
    .mainExterior #infoClickFrut strong {
      color: #D8D8D8; }
    .mainExterior #infoClickFrut span {
      color: #D8D8D8; }
  .mainExterior #infoClickArb {
    background-color: rgba(66, 66, 65, 0.7);
    position: absolute;
    top: 3%;
    left: 8%;
    right: 8%;
    font-size: 80%;
    line-height: 1.2;
    display: none; }
    .mainExterior #infoClickArb strong {
      color: #D8D8D8; }
    .mainExterior #infoClickArb span {
      color: #D8D8D8; }
  .mainExterior #infoClickSuc {
    background-color: rgba(66, 66, 65, 0.7);
    position: absolute;
    top: 10%;
    left: 8%;
    right: 8%;
    font-size: 80%;
    line-height: 1.2;
    display: none; }
    .mainExterior #infoClickSuc strong {
      color: #D8D8D8; }
    .mainExterior #infoClickSuc span {
      color: #D8D8D8; }
  .mainExterior .aromaticas {
    max-height: 100%;
    max-width: 100%;
    grid-area: aromaticas; }
  .mainExterior .hortalizas {
    max-height: 100%;
    max-width: 100%;
    grid-area: hortalizas; }
  .mainExterior .florales {
    max-height: 100%;
    max-width: 100%;
    grid-area: florales; }
  .mainExterior .frutales {
    max-height: 100%;
    max-width: 100%;
    grid-area: frutales; }
  .mainExterior .arboles {
    max-height: 100%;
    max-width: 100%;
    grid-area: arboles; }
  .mainExterior .suculentas {
    grid-area: suculentas;
    max-height: 100%;
    max-width: 100%; }
  .mainExterior .imgGrilla {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; }
  .mainExterior .aromaticas {
    position: relative;
    text-align: center;
    color: grey; }
  .mainExterior .aromaticas p {
    position: absolute;
    bottom: 8px;
    left: 16px; }
  .mainExterior .hortalizas {
    position: relative;
    text-align: center;
    color: grey; }
  .mainExterior .hortalizas p {
    position: absolute;
    bottom: 8px;
    left: 16px; }
  .mainExterior .florales {
    position: relative;
    text-align: center;
    color: grey; }
  .mainExterior .florales p {
    position: absolute;
    bottom: 8px;
    left: 16px; }
  .mainExterior .frutales {
    position: relative;
    text-align: center;
    color: grey; }
  .mainExterior .frutales p {
    position: absolute;
    bottom: 8px;
    left: 16px; }
  .mainExterior .arboles {
    position: relative;
    text-align: center;
    color: grey; }
  .mainExterior .arboles p {
    position: absolute;
    bottom: 8px;
    left: 16px; }
  .mainExterior .suculentas {
    position: relative;
    text-align: center;
    color: grey; }
  .mainExterior .suculentas p {
    position: absolute;
    bottom: 8px;
    left: 16px; }
  .mainExterior .categorias article {
    filter: saturate(5%);
    font-size: 30px; }
  .mainExterior .categorias article:hover {
    filter: saturate(100%); }

.mainPlagas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #424241; }
  .mainPlagas .plagas {
    background: #424241; }
    .mainPlagas .plagas h1 {
      margin-top: 20%;
      text-align: center;
      color: #EEEEEE; }
    .mainPlagas .plagas .row {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 10%; }
    .mainPlagas .plagas .card {
      margin-bottom: 5%;
      width: auto;
      background-color: #EEEEEE;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: grey;
      padding: 0%; }
      .mainPlagas .plagas .card .card__contenido {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0%; }
        .mainPlagas .plagas .card .card__contenido .card-img-top {
          width: contain;
          padding: 0%; }
        .mainPlagas .plagas .card .card__contenido .card-text {
          width: 90%;
          text-align: center;
          color: #424242; }
        .mainPlagas .plagas .card .card__contenido .card-body {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          padding: 0%; }
      .mainPlagas .plagas .card .info {
        position: relative;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
        font-size: 30px;
        color: black; }
    .mainPlagas .plagas p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 200;
      font-style: normal;
      margin-bottom: 0; }

footer {
  display: flex;
  flex-direction: column;
  color: black;
  background: #546E7A;
  background-size: cover;
  padding: 10px;
  z-index: 9999; }
  footer .footer__info {
    margin-left: 3%;
    margin-top: 1%; }
  footer .derechosAutor {
    text-align: center;
    color: white;
    font-weight: bolder; }
    footer .derechosAutor p {
      color: #D8D8D8; }
  footer p {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif; }
